/* #homePageDiv {
    margin-top: 78px;
}
.welcomeSection {
    display: flex;
    height: 65vh;
    background-color: rgb(155, 122, 216);

}
.welcomeLeft {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: 'Baloo Tammudu 2', cursive;
    padding: 0px 80px;
    width: 50%;
    height: 100%;
} */
/* .homeDiv{
    background-color: rgb(214, 216, 215);
} */
.hello{
    font-size: 20px;
}

.container{
    padding: 100px;
}

h5{
    color: black;
    margin-bottom: 100px;
}

.infoCard{
    margin: 40px 40px;
    /* margin-bottom: 20px; */
    width: 200px; 
     height: 200px;
    
}

.underIcon{
    text-align:center;
    font-weight: bold;
    color: maroon;
}

.underTitle{
    text-align: center ;
}
/* .infoCard:hover{
    box-shadow: 5px 10px rgb(40, 216, 201);
    margin: 30px 40px;
    opacity: 60%;
} */