#footer {
    background-color: rgb(71, 189, 130);
    /* box-shadow: 30px 30px 30px 1px; */
    color: black;
    padding: 20px;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    opacity: 70%;
}
 
p{
    font-family: 'Roboto', sans-serif;
}

