#footer {
    background-color: rgb(71, 189, 130);
    border-top: 1px solid black;
    /* box-shadow: 30px 30px 30px 1px; */
    color: white;
    padding: 50px;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}